{% set gridhtml = getcontent('datagrid:everything.html', datagrid=datagrid) %}
{{ include_js() }}
{% extends extend_from %}
{% block title %}{{pagetitle}} | {{super()}}{% endblock %}
{% block body %}
    <p class="manage-add-link"><a href="{{ url_for(endpoint, action='add')}}">Add {{objectname}}</a></p>
    <h2>{{pagetitle}}</h2>

    {% if gridhtml %}
        {{ gridhtml|safe }}
    {% else %}
        <p>
            Sorry, no {{objectnamepl}} currently in the database.
            <a href="{{ url_for(endpoint, action='add')}}">Add One!</a>
        </p>
    {% endif %}
{% endblock body%}
